<!-- header -->
<%- include('header') %>

    <body>
        <!-- navbar -->
        <%- include('navbar') %>

            <!-- main section -->
            <main class="container">

            <!-- page title header -->
            <hgroup class="centre-text">
                <h1><%=userinfo[0].first_name%> <%=userinfo[0].last_name%>'s Account (<%=userinfo[0].role%>)</h1>
                <p>View and update your account details</p>
            </hgroup>

            <div class="account-options grid">
                <a href="/collections/mycollections"><article>
                    <img src="/collections.png" alt="my collections icon">
                    <p>My Collections</p>
                </article></a>

                <a href="/wishlist"><article>
                    <img src="/wishlist.png" alt="my wishlist icon">
                    <p>My Wishlist</p>
                </article></a>

                <a href="/account/settings"><article>
                    <img src="/account-details.png" alt="account details icon">
                    <p>Account Settings</p>
                </article></a>

                <a href="/logout"><article>
                    <img src="/logout.png" alt="log out icon">
                    <p>Logout</p>
                </article></a>

                <!-- admin only buttons -->
                <% if (adminStatus) { %>
                    <a href="/addcard"><article>
                        <img src="/add_card.png" alt="add card icon">
                        <p>Add Cards</p>
                    </article></a>

                    <a href="/cards"><article>
                        <img src="/edit_delete_card.png" alt="edit and delete card icon">
                        <p>Edit/Delete Cards</p>
                    </article></a>

                    <a href="/addexpansionseries"><article>
                        <img src="/add_card.png" alt="add expansion / series icon">
                        <p>Add Expansions/Series</p>
                    </article></a>

                    <a href="/manageadmin"><article>
                        <img src="/admin_request.png" alt="admin request icon">
                        <p>Manage Admins & Requests</p>
                    </article></a>
                <% } else { %>

                    <% if (requestStatus) { %>

                        <article>
                            <img src="/admin_request.png" alt="admin request icon">
                            <p>Awaiting Admin Request</p>
                        </article>

                    <% } else { %>

                        <a href="/account/sendadminrequest/<%=userinfo[0].user_id%>">
                            <article>
                                <img src="/admin_request.png" alt="admin request icon">
                                <p>Send Admin Request</p>
                                <input type="submit" id="submitAdminRequest" style="display: none;">
                            </article>
                        </a>
                        

                    <% } %>
                    
                <% } %>
            </div>



            </main>
    </body>

<!-- footer -->
<%- include('footer') %>