<!-- header -->
<%- include('header') %>

    <body>
        <!-- navbar -->
        <%- include('navbar') %>

            <!-- main section -->
            <main class="container">

            <!-- page title header -->
            <hgroup class="centre-text marking">
                <h1><%=userinfo[0].first_name%> <%=userinfo[0].last_name%>'s Account</h1>
                <p>View and update your account details</p>
            </hgroup>

            <div class="account-options grid marking">
                <a href="#"><article>
                    <img src="/collections.png" alt="my collections icon">
                    <p>My Collections</p>
                </article></a>
                <a href="#"><article>
                    <img src="/wishlist.png" alt="my wishlist icon">
                    <p>My Wishlist</p>
                </article></a>
                <a href="#"><article>
                    <img src="/account-details.png" alt="account details icon">
                    <p>Edit Account details</p>
                </article></a>
                <a href="#"><article>
                    <img src="/logout.png" alt="log out icon">
                    <p>Logout</p>
                </article></a>
            </div>



            </main>
    </body>

<!-- footer -->
<%- include('footer') %>