<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>All Collections</h1>
            <p>Browse collections from other members</p>
        </hgroup>

        <div class="grid centre-item">
            <!-- search bar -->
            <div>
                <form role="search">
                    <input name="search" type="search" placeholder="Search collections" />
                    <input type="submit" value="Search" />
                </form>
            </div>

            <!-- all collections button -->
            <div class="beside-search-button-padding">
                <a href="/collections"> <button class="primary rounded-button">All</button></a>
            </div>

            <!-- my collections -->
            <div class="beside-search-button-padding">
                <a href="/collections/mycollections"> <button class="primary rounded-button">My Collections</button></a>
            </div>

        </div>

        <hr>

        <div class="card-count-tab">
            <small>Collection count: <b><%=collectionCount%></b></small>
        </div>

        <!-- display all collections -->
        <div class="cards-grid">
            <% if (collectionCount === 0) { %>
                <p>No collections matching this search</p>
            <% } %>
            <% collectionlist.forEach((collection)=> { %>
            <article class="card">
                <a href="/collections/<%=collection.collection_id%>"> <%=collection.collection_name%> </a>
                <%=collection.creation_date%>
            </article> 
            <% }); %>
        </div>

    </main>
</body>

<!-- footer -->
<%- include('footer') %>