<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=cardinfo[0].pokemon_name%></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/pikachu_favicon.png" type="image/png">
</head>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1><%=cardinfo[0].pokemon_name%></h1>
            <p>Pokemon</p>
        </hgroup>

        <!-- page content -->
        <article>
            <% if (message) { %>
                <div>
                     <p><%= message %></p>
                </div>  
            <% } %>
        <div class="grid card-info-row">
            <div class="card-info-pic">
                <img src="<%=cardinfo[0].card_img_url%>" alt="picture of pokemon" class="card-pic">
            </div>
            <hr>
            <div class="card-info-details">
                <div class="">
                    <!-- iterate through attack info -->
                    <hgroup>
                        <% attackinfo.forEach((attack) => { %>
                            <h5><%= attack.attack_name %> 
                                <% if (attack.attack_damage !== 0) { %>
                                    - <%= attack.attack_damage %></h5>
                                <% } else { %>
                                    </h5>
                                <% } %>
                            <p><%= attack.attack_description %></p>
                            <br>
                        <% }); %>
                    </hgroup>
                </div>
                <hr>
                <div class="card-info-details-bottom">
                    <div>
                        <p>
                            HP: <b><%=cardinfo[0].card_hp%></b>
                        </p>
                        <p>
                            Pokedex Number: <b><%=cardinfo[0].pokedex_num%></b>
                        </p>
                        <p>
                            Rarity: <b><%=cardinfo[0].rarity_name%></b> <img src="<%=cardinfo[0].rarity_symbol_url%>" alt="<%=cardinfo[0].rarity_name%>" class="symbol-img">
                        </p>
                        <p>
                            Type: <b><%=cardinfo[0].type_name%></b> <img src="<%=cardinfo[0].type_symbol_url%>" alt="<%=cardinfo[0].type_name%>" class="symbol-img">
                        </p>
                        <p>
                            Weakness: <b><%=weaknessinfo[0].type_name%> x<%=weaknessinfo[0].weakness_value%> <img src="<%=weaknessinfo[0].type_symbol_url%>" alt="<%=weaknessinfo[0].type_name%>" class="symbol-img"></b>
                        </p>
                    </div>
                    <div>
                        <p>
                            Stage: <b><%=cardinfo[0].stage_name%></b>
                        </p>

                        <% if (cardinfo[0].stage_id != 1) { %>
                        <p> 
                            Evolves from: <b><%=cardinfo[0].evolves_from%></b>
                        </p>
                        <% } %>

                        <p>
                            Holo : <b><%= (cardinfo[0].holo === 1) ? "Yes" : "No"; %></b>
                        </p>
                        
                        <p>
                            Expansion: <b><%=cardinfo[0].expansion_name%></b>
                        </p>
                        <p>
                            Series: <b><%=cardinfo[0].series_name%></b>
                        </p>
                    </div>
                    
                </div>
                <hr>
                <div class="card-info-add-buttons">
                    <!-- if logged in -->
                    <% if(sessionobj.authen) { %>
                    
                    <!-- add to collection -->
                    <form action="/cards/<%=cardinfo[0].card_id%>" method="POST">
                        <input type="hidden" name="cardAction" value="addToCollection">
                        <details class="dropdown outline">
                            <summary role="button">Add to Collection</summary>  
                            <ul> 
                                <% if (usercollectionsinfo.length === 0) { %>
                                    <li><label><a href="/collections/mycollections">Create a Collection</a></label></li>
                                    
                                <% } else { %>
                                    <% usercollectionsinfo.forEach((collection)=> { %>
                                        
                                    <li><label>
                                        <input type="radio" name="collectionId" value="<%=collection.collection_id%>">
                                        <%=collection.collection_name%>
                                    </label></li>
                                    <% }); %>
                                    <li>
                                        <button class="outline" type="submit">Add</button>
                                    </li>
                                
                                <% } %> 
                            </ul>
                        </form>

                        </details>
                    

                    <!-- add to wishlist -->
                    <form action="/cards/<%=cardinfo[0].card_id%>" method="POST">
                    <input type="hidden" name="cardAction" value="addToWishlist">
                    <button type="submit" class="outline">Add to Wishlist</button>
                    </form>

                    <% if (adminStatus === true) { %>
                        <div>
                            <a href="/editcard/<%=cardinfo[0].card_id%>"><button class="admin-button">Edit Card Details</button></a>
                        </div>
                    <% } %>

                    <!-- if not logged in -->
                    <% } else { %>
                        <a href="/login"><button>Log in to add to collection or wishlist</button></a>
                    <% } %>

                </div>
            </div>
        </div>
        </article>

        <!-- back to cards page button -->
        <div class="centre-item">
            <a href="/cards"> <button class="primary rounded-button">Back to All Cards</button></a>
        </div>
    </main>





</body>

<!-- footer -->
<%- include('footer') %>

</html>