<!-- header -->
<%- include('header') %>

    <body>
        <!-- navbar -->
        <%- include('navbar') %>

            <!-- main section -->
            <main class="container">

                <!-- page title header -->
                <div class="centre-text">
                    <h1>Cards</h1>
                </div>

                <hr>

                <!-- page content -->
                <div class="grid centre-item">
                    <!-- search bar -->
                    <div>
                        <form role="search">
                            <input name="search" type="search" placeholder="Search cards" />
                            <input type="submit" value="Search" />
                        </form>
                    </div>

                    <!-- add new card button - only for admin -->
                    <% if (adminStatus === true) { %>
                    <div class="filter-button-padding">
                        <a href="/addcard"><button class="rounded-button admin-button">Add New Card</button></a>
                    </div>
                    <% } %>
                </div>

                <div class="grid filter-card-grid">
                    <div>
                    <!-- Left - Filter tab -->
                    <div class="card-count-tab">
                        <article>
                            <small>Card count: <b><%=cardCount%></b></small>
                        </article>
                    </div>
                    <div>
                        <article class="filter-tab">
                            <h3>Filter</h3>
                            <form>
                                <label>
                                    Sort By:
                                    <select name="sort">
                                        <option selected value="">-</option>
                                        <option value="alphabeticalAscend">A - Z</option>
                                        <option value="alphabeticalDescend">Z - A</option>
                                        <option value="hpAscend">HP (Ascending)</option>
                                        <option value="hpAscend">HP (Descending)</option>
                                        <option value="pokedexAscend">Pokedex (Ascending)</option>
                                        <option value="pokedexDescend">Pokedex (Descending)</option>
                                        <!-- Add more sorting options as needed -->
                                    </select>
                                </label>
                            <label>
                                Type
                            <select name="typeFilter">
                                <option selected value="">
                                -
                                    </option>
                                    <% typelist.forEach((type)=> { %> 
                                        <option value="<%=type.type_id%>"><%=type.type_name%></option>
                                    <% }); %>
                            </select>
                            </label>

                            <label>
                                Weakness
                            <select name="weaknessFilter">
                                <option selected value="">
                                -
                                    </option>
                                    <% weaknesslist.forEach((weakness)=> { %> 
                                        <option  value="<%=weakness.weakness_id%>"><%=weakness.type_name%></option>
                                    <% }); %>
                            </select>
                            </label>

                            <label>
                                HP
                                <input type="number" name="hpFilter" placeholder="-" aria-label="hp filter"/>
                            </label>

                            <label>
                                Rarity
                            <select name="rarityFilter">
                                <option selected value="">
                                -
                                </option>
                                    <% raritylist.forEach((rarity)=> { %> 
                                        <option  value="<%=rarity.rarity_id%>"><%=rarity.rarity_name%></option>
                                    <% }); %>
                            </select>
                            </label>

                            <label>
                                Stage
                            <select name="stageFilter">
                                <option selected value="">
                                -
                                </option>
                                    <% stagelist.forEach((stage)=> { %> 
                                        <option  value="<%=stage.stage_id%>"><%=stage.stage_name%></option>
                                    <% }); %>
                            </select>
                            </label>

                            <label>
                                Pokedex Number
                                <input type="number" name="pokedexFilter" placeholder="-" aria-label="pokedex filter"/>
                            </label>

                            <label>
                                Expansion
                            <select name="expansionFilter">
                                <option selected value="">
                                -
                                    </option>
                                    <% expansionlist.forEach((expansion)=> { %> 
                                        <option  value="<%=expansion.expansion_id%>"><%=expansion.expansion_name%></option>
                                    <% }); %>
                            </select>
                            </label>

                                <input type="submit" value="Filter"/>
                            </form>
                        </article>
                    </div>
                </div>
                <div>
                    <!-- Right - Display cards-->
                    <div class="cards-grid">
                        <% if (cardCount === 0) { %>
                            <p>No cards matching this search</p>
                        <% } %>
                        <% cardlist.forEach((card)=> { %>
                            <article class="card">
                                <div>
                                    <a href="/cards/<%=card.card_id%>"><img src="<%=card.card_img_url%>" class="card-pic-padding"></a> 
                                </div>
                                <div>
                                    <hgroup>
                                        <h5>
                                            <%=card.pokemon_name%>
                                        </h5>
                                        <p>
                                            <%=card.rarity_name%> <img src="<%=card.rarity_symbol_url%>" class="symbol-img">
                                        </p>
                                    </hgroup>
                                </div>
                            </article>
                            <% }); %>

                    </div>
                </div>
               

                </div>

            </main>

    </body>

<!-- footer -->
<%- include('footer') %>
