<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection | <%=collectioninfo.collection_name%> </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/pikachu_favicon.png" type="image/png">
</head>
<body>
    <!-- navbar -->
    <%- include('navbar') %> 

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1><%=collectioninfo.collection_name%></h1>
            <% if (collectionownerstatus === true) { %>
                <p>View and update this collection</p>
            <% } else { %>
                <p>Browse this collection</p>
            <% } %>
        </hgroup>

        <!-- collection info in collection -->
        <% if (message) { %>
            <div>
                 <p><%= message %></p>
            </div>  
        <% } %>

        

        
        <div class="collectioninfo-button-tab grid">
            <!-- collection details button -->
            <div>
            <details role="button" class="outline">
                <summary>Collection Details</summary>
                <small>Created on: <%=collectioninfo.creation_date%></small>
                <br>
                <small>Total likes: <%=collectioninfo.like_count%></small>
            </details>
            </div>

            <!-- options only displayed if user owns collection -->
            <% if (collectionownerstatus === true) { %>
            <!-- edit collection details button -->
            <div>
                <details role="button" class="outline">
                    <summary>Edit Collection</summary>
                    <form action="/collections/<%=collectioninfo.collection_id%>" method="POST">
                        <input type="hidden" name="collectionSettings" value="editCollectionName">
                        <fieldset>
                            <div>
                                <label>
                                    Change Collection Name
                                    <input type="text" name="collectionName" placeholder="<%=collectioninfo.collection_name%>" aria-label="Text" required/>
                                </label>
                            </div>
                        </fieldset>
                      
                        <input type="submit" value="Confirm Change Details"/>
                      </form>
                </details>
                </div>
            <div>

            <!-- delete collection button -->
            <details role="button" class="delete-tab outline">
                <summary>Delete Collection</summary>
                <h3>ARE YOU SURE?</h3>
                <form action="/collections/<%=collectioninfo.collection_id%>" method="POST">
                    <input type="hidden" name="collectionSettings" value="deleteCollection">
                    <button type="submit">DELETE</button>
                </form>
            </details>
            <% } %>
        </div>
       

        </div>
        <hr>

        <!-- display cards in collection -->
        <div class="card-count-tab">
                <small>Card count: <b><%=cardCount%></b></small>
        </div>

        <div class="cards-grid">
            <% cardcollectioninfo.forEach((card)=> { %>
                <article class="card">
                    <div>
                        <a href="/cards/<%=card.card_id%>"><img src="<%=card.card_img_url%>" class="card-pic-padding"></a> 
                    </div>
                    <div>
                        <hgroup>
                            <h5>
                                <%=card.pokemon_name%>
                            </h5>
                            <p>
                                <%=card.rarity_name%> <img src="<%=card.rarity_symbol_url%>" class="symbol-img">
                            </p>
                        </hgroup>
                    </div>

                    <% if (collectionownerstatus === true) { %>
                    <form action="#" method="POST" class="wishlist-collections-delete">
                        <input type="hidden" name="collectionSettings" value="deleteCard">
                        <input type="hidden" name="cardId" value="<%=card.card_id%>">
                        <button type="submit">Delete from Collection</button>
                    </form> 
                    <% } %>
                </article>
                <% }); %>
             
        </div>

        <% if (collectionownerstatus === true) { %>
            <br>
            <div class="centre-item">
                <a href="/cards"><button>Browse Cards to Add to Collection</button></a>
            </div>

        <% } %>


    </main>

</body>

<!-- footer -->
<%- include('footer') %>