<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>


    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>Edit Card</h1>
            <p>Update with the latest information!</p>
        </hgroup>

        <!-- add card section -->
        <div class="add-card-details">
            <article>
                <% if (message) { %>
                    <div>
                         <p><%= message %></p>
                    </div>  
                <% } %>
                <form method="POST" action="/addcard">
                    <fieldset>
                        <u><h4>Pokemon Information</h4></u>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Pokemon Name
                                    <input type="text" name="pokemonName" value="<%=pokemon.pokemon_name%>" aria-label="pokemon name" required/>
                                </label>
                            </div>
                            <div class="no-row-gap grid">
                                <div>
                                    <label>
                                        Pokedex Number
                                        <input type="number" name="pokedexNumber" value="<%=pokemon.pokedex_num%>" aria-label="pokedex number" required/>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        Health Points
                                        <input type="number" name="hp" value="<%=pokemon.card_hp%>"  aria-label="health points" required/>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <label>
                            Card Image URL
                            <input type="text" name="cardURL" value="<%=pokemon.card_img_url%>" autocomplete="card image url" required/>
                        </label>

                        
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Evolution Stage
                                <select name="stage" aria-label="evolution stage" required>
                                    <option selected disabled value="">
                                        <%=pokemon.stage_name%>
                                    </option>
                                    <% stagelist.forEach((stage) => { %>
                                        <option value="<%=stage.stage_id%>">
                                            <%=stage.stage_name%>
                                        </option>
                                    <% }); %>
                                </select>
                                </label>
                            </div>
                            <div>

                                <!-- if stage entered as 1 or 2 then this field is required -->
                                <label>
                                    Evolves From 
                                    <input type="text" name="evolvesFrom" <% if (!pokemon.evolves_from) { %>placeholder="-"<% } else { %>value="<%= pokemon.evolves_from %>"<% } %>/>
                                    <small>Leave blank if not applicable</small>
                                </label>
                            </div>
                        </div>

                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Rarity
                                <select name="rarity" aria-label="rarity" required>
                                    <option selected disabled value="">
                                        <%=pokemon.rarity_name%>
                                    </option>
                                    <% raritylist.forEach((rarity) => { %>
                                        <option value="<%=rarity.rarity_id%>">
                                            <%=rarity.rarity_name%>
                                        </option>
                                    <% }); %>
                                </select>
                                </label>
                            </div>
                            <div>
                                <label>
                                   Type
                                <select name="type" aria-label="type" required>
                                    <option selected disabled value="">
                                        <%=pokemon.type_name%>
                                    </option>
                                    <% typelist.forEach((type) => { %>
                                        <option value="<%=type.type_id%>">
                                            <%=type.type_name%>
                                        </option>
                                    <% }); %>
                                </select>
                                </label>
                            </div>
                            <div>
                                <label>
                                   Weakness
                                <select name="weakness" aria-label="weakness" required>
                                    <option selected disabled value="">
                                        <%=weakness.type_name%>
                                    </option>
                                    <% typelist.forEach((type) => { %>
                                        <option value="<%=type.type_id%>">
                                            <%=type.type_name%>
                                        </option>
                                    <% }); %>
                                </select>
                                </label>
                            </div>
                            <div>
                                <label>
                                   Holo
                                <select name="holo" aria-label="holo" required>
                                    <option selected disabled value="">
                                    <% if (pokemon.holo === 0) { %> No <% } else { %> Yes<% } %>
                                    </option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                </label>
                            </div>
                        </div>

                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Expansion Name
                                <select name="expansion" aria-label="expansion name" required>
                                    <option selected disabled value="">
                                        <%=pokemon.expansion_name%>
                                    </option>
                                    <% expansionlist.forEach((expansion) => { %>
                                        <option value="<%=expansion.expansion_id%>">
                                            <%=expansion.expansion_name%>
                                        </option>
                                    <% }); %>
                                </select>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Series Name
                                <select name="series" aria-label="series name" required>
                                    <option selected disabled value="">
                                     <%=pokemon.series_name%>
                                    </option>
                                    <% serieslist.forEach((series) => { %>
                                        <option value="<%=series.series_id%>">
                                            <%=series.series_name%>
                                        </option>
                                    <% }); %>
                                </select>
                                </label>
                            </div>
                        </div>
                    
                        <hr>

                        <u><h4>Attack Information</h4></u>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Attack Name
                                    <input type="text" name="attackName" value="<%=attack[0].attack_name%>" aria-label="attack name" required/>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Attack Damage
                                    <input type="number" name="attackDamage" value="<%=attack[0].attack_damage%>" aria-label="attack damage" required/>
                                </label>
                            </div>
                        </div>
                        <div>
                            <label>Attack Description 
                            <% if (!attack[0].attack_description) { %>
                                <input name="attackDesc" placeholder="-" aria-label="attack description"></input>
                            <% } else { %>
                                <input name="attackDesc" value="<%=attack[0].attack_description%>" aria-label="attack description"></input>
                            <% } %>
                            <small>Leave blank if not applicable</small>
                            </label>
                        </div>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Attack Type
                                 <select name="attackType" aria-label="attack type" required>
                                     <option selected disabled value="">
                                      <%=attack[0].type_name%>
                                     </option>
                                     <% typelist.forEach((type) => { %>
                                        <option value="<%=type.type_id%>">
                                            <%=type.type_name%>
                                        </option>
                                    <% }); %>
                                 </select>
                                 </label>
                            </div>
                            <div>
                                <label>
                                    Attack Type Strength
                                    <input type="number" name="attackStrength" value="<%=attack[0].strength%>" aria-label="attack strength" required/>
                                </label>
                            </div>
                        </div>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Attack Type 2 
                                 <select name="attackType2" aria-label="attack type 2" required>
                                     <option selected disabled value="">
                                     <% if (attack.length === 2) { %>
                                      <%=attack[1].type_name%>
                                      <% }  else { %>
                                        -
                                        <% } %>
                                     </option>
                                     <option>None</option>
                                     <% typelist.forEach((type) => { %>
                                     <option value="<%=type.type_id%>">
                                        <%=type.type_name%>
                                     </option>
                                     <% }); %>
                                 </select>
                                 <small>Must be different type, select 'None' if not applicable</small>
                                 </label>
                            </div>
                            <div>
                                <label>
                                    Attack Type 2 Strength 
                                    <% if (attack.length === 2) { %>
                                        <input type="number" name="attackType2Strength" value="<%=attack[1].strength%>" aria-label="Text"/>
                                    <% }  else { %>
                                        <input type="number" name="attackType2Strength" placeholder="-" aria-label="Text"/>
                                    <% } %>
                                    <small>Leave blank if not applicable, default to 1 if left blank with an attack type</small>
                                </label>
                            </div>
                        </div>

                        <hr>

                        <!-- second attack info -->
                        <div class="attack-info-heading">
                            <u><h4 class="inline-text">Second Attack Information</h4></u> <small>(Name, Damage, Type - Minimum Requirement)</small> 
                            </div>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Attack Name
                                    <% if (attack2 !== null) { %>
                                        <input type="text" name="attack2Name" value="<%=attack2[0].attack_name%>" aria-label="attack name"/>
                                    <% } else { %>
                                        <input type="text" name="attack2Name" placeholder="-" aria-label="attack name"/>
                                    <% } %>
                                    <small>Leave blank if not applicable</small>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Attack Damage
                                    <% if (attack2 !== null) { %>
                                        <input type="number" name="attack2Damage" value="<%=attack2[0].attack_damage%>" aria-label="attack damage"/>
                                    <% } else { %>
                                        <input type="number" name="attack2Damage" placeholder="-" aria-label="attack damage"/>
                                    <% } %>
                                    <small>Leave blank if not applicable</small>
                                </label>
                            </div>
                        </div>
                        <div>
                            <label>
                                Attack Description
                                <% if (attack2 !== null && attack2[0].attack_description !== '') { %>
                                    <input name="attack2Desc" value="<%=attack2[0].attack_description%>" aria-label="attack description"/>
                                <% } else { %>
                                    <input name="attack2Desc" placeholder="-" aria-label="attack description"/>
                                <% } %>
                            <small>Leave blank if not applicable</small>
                            </label>
                        </div>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Attack Type
                                 <select name="attack2Type" aria-label="Attack Type" required>
                                     <option selected disabled value="">
                                        <% if (attack2 !== null) { %>
                                            <%=attack2[0].type_name%>
                                        <% } else { %>
                                            -
                                        <% } %>
                                     </option>
                                     <option>None</option>
                                     <% typelist.forEach((type) => { %>
                                        <option value="<%=type.type_id%>">
                                            <%=type.type_name%>
                                        </option>
                                    <% }); %>
                                 </select>
                                 <small>Select 'None' if not applicable</small>
                                 </label>
                            </div>
                            <div>
                                <label>
                                    Attack Type Strength
                                    <% if (attack2 !== null) { %>
                                        <input type="number" name="attack2Strength" value="<%=attack2[0].strength%>" aria-label="attack strength"/>
                                    <% } else { %>
                                        <input type="number" name="attack2Strength" placeholder="-" aria-label="attack strength"/>
                                    <% } %>
                                    <small>Leave blank if not applicable, default to 1 if left blank with an attack type</small>
                                </label>
                            </div>
                        </div>
                        <div class="no-row-gap grid">
                            <div>
                                <label>
                                    Attack Type 2 
                                    <select name="attack2Type2" aria-label="Attack Type" required>
                                    <option selected disabled value="">
                                        <% if (attack2 !== null && attack2.length > 0) { %>
                                            <%=attack2[1].type_name%>
                                        <% } else { %>
                                            -
                                        <% } %>
                                     </option>
                                     <option>None</option>
                                     <% typelist.forEach((type) => { %>
                                        <option value="<%=type.type_id%>">
                                            <%=type.type_name%>
                                        </option>
                                    <% }); %>
                                 </select>
                                 <small>Must be different type, select 'None' if not applicable</small>
                                 </label>
                                 
                            </div>
                            <div>
                                <label>
                                    Attack Type 2 Strength 
                                    <% if (attack2 !== null && attack2.length > 0) { %>
                                        <input type="number" name="attack2Type2Strength" value="<%=attack2[1].strength%>" aria-label="attack strength"/>
                                    <% } else { %>
                                        <input type="number" name="attack2Type2Strength" placeholder="-" aria-label="attack strength"/>
                                    <% } %>
                                    <small>Leave blank if not applicable, default to 1 if left blank with an attack type</small>
                                </label>
                            </div>
                        </div>
   
                    </fieldset>

                    <input type="submit" value="Edit This Card"/>
                </form>   
                
            </article>
        </div>

    </main>

</body>

<!-- footer -->
<%- include('footer') %>
