<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>My Collections</h1>
            <p>View and update collections</p>
        </hgroup>

        <div class="create-new-collections">
            <% if (message) { %>
                <div>
                     <p><%= message %></p>
                </div>  
            <% } %>
            <details role="button" class="outline">
                <summary>Create New Collection</summary>
                <form action="/collections/mycollections" method="POST">
                    <fieldset class="grid no-row-gap">
                        <label>
                            Collection Name
                            <input type="text" name="collectionName" placeholder="Name of collection" aria-label="Text" required/>
                        </label>
                        <label>
                            Collection Logo
                        <select name="collectionLogo">
                            <option selected value="">
                            -
                                </option>
                                <% collectionlogos.forEach((logo)=> { %> 
                                    <option value="<%=logo.type_id%>"><%=logo.type_name%></option>
                                <% }); %>
                        </select>
                        </label>
                    </fieldset>
                    <input type="submit" value="Create Collection"/>
                  </form>
            </details>
        </div>
        <hr>
        
        <!-- display owned collections -->
        <div class="card-count-tab">
                <small>Collection count: <b><%=collectionCount%></b></small>
        </div>
        <div class="cards-grid">
            <% mycollections.forEach((collection)=> { %>
            <article class="card">
                <a href="/collections/<%=collection.collection_id%>"><img src="<%=collection.type_symbol_url%>" alt="collection logo" class="collection-logo"></a>
                <hgroup>
                    <h5><a href="/collections/<%=collection.collection_id%>"><%=collection.collection_name%></a></h5>
                    <p><%=collection.creation_date.toLocaleString('en-GB')%></p>
                </hgroup>
            </article> 
            <% }); %>
        </div>

    </main>
</body>

<!-- footer -->
<%- include('footer') %>