<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %> 

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>Welcome, <%=userinfo[0].first_name%> <%=userinfo[0].last_name%></h1>
            <p>Thank you for joining Pokemon TCG</p>
        </hgroup>

        <div class="welcome marking">
            <a href="/cards"><button>Browse cards</button></a>
            <a href="#"><button>Account details</button></a>
            <a href="#"><button>Your collections</button></a>
        </div>


    </main>

</body>

<!-- footer -->
<%- include('footer') %>

</html>