<!-- header -->
<%- include('header') %>

<body>
    <!-- navbar -->
    <%- include('navbar') %>

    <!-- main section -->
    <main class="container">

        <!-- page title header -->
        <hgroup class="centre-text">
            <h1>My Wishlist</h1>
            <p>Cards I want</p>
        </hgroup>
        
        <!-- page content -->
        <div class="grid centre-item">
            <!-- search bar -->
            <div>
                <form role="search">
                    <input name="search" type="search" placeholder="Search wishlist" />
                    <input type="submit" value="Search" />
                </form>
            </div>

            <!-- all wishlist button -->
            <div class="beside-search-button-padding">
                <a href="/wishlist"> <button class="primary rounded-button">All</button></a>
            </div>
        </div>

        <hr>

        <!-- Display cards-->
        <div>
            <small>Card count: <b><%=cardCount%></b></small>
        </div>
        

        <% if (message) { %>
            <div class="card-count-tab">
                <article>
                    <small><b><%= message %></b></small>
                </article>
            </div>
        <% } %>
        <% if (searchStatus && cardCount === 0) { %>
            <div class="card-count-tab">
                <article>
                    <small><b>No cards matching this search<b></small>
                </article>
            </div>
        <% } %>
        <div class="cards-grid">
            <% wishlistinfo.forEach((card)=> { %>
                <article class="card">
                    <div>
                        <a href="/cards/<%=card.card_id%>"><img src="<%=card.card_img_url%>" class="card-pic-padding"></a> 
                    </div>
                    <div>
                        <hgroup>
                            <h5>
                                <%=card.pokemon_name%>
                            </h5>
                            <p>
                                <%=card.rarity_name%> <img src="<%=card.rarity_symbol_url%>" class="symbol-img">
                            </p>
                        </hgroup>
                    </div>

                    <form action="/wishlist" method="POST" class="wishlist-collections-delete">
                        <input type="hidden" name="deleteCardWishlist" value="<%=card.card_id%>">
                        <button type="submit">Delete from Wishlist</button>
                    </form> 
                </article>
                <% }); %>
            
        </div>
    </main>
</body>

<!-- footer -->
<%- include('footer') %>